<form id="add-comment-form" class="text-center" action="#/dashboard/{{_id}}" method="post">
    <textarea class="textarea-det" name="newComment"></textarea>
    <button type="submit" class="btn detb">Comment</button>
    <a id="like" class="btn detb">Like</a>
</form>

{{!-- href="#/dashboard/{{_id}}" --}}
{{!-- <button id="like" class="btn detb">Like</button> --}}