{{> navbar}}

<div class="container home wrapper  my-md-5 pl-md-5">
    <div class="row-form d-md-flex flex-mb-equal ">
        <div class="col-md-4">
            <img class="responsive" src="./images/idea.png" alt="" />
        </div>
        {{> loginForm}}
    </div>
</div>

{{> footer}}