{{>navbar}}
<div style="margin-top:3%; padding-top: 3%;" class="container">
    {{#if causes}}
    {{#each causes}}
    {{>causeCard}}
    {{/each}}
    {{else}}
    <h1 class="text-center">NO CAUSES :(</h1>
    {{/if}}
</div>
{{>footer}}