<form id="login-form" method="/login" action="post">
    <p class="h4 py-4">Login</p>
    <hr />
    <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Your username</label>
    <input name="username" type="text" id="defaultFormCardNameExLogin" class="form-control" />

    <br />

    <label for="defaultFormCardPasswordEx" class="grey-text font-weight-light">Your password</label>
    <input name="password" type="password" id="defaultFormCardPasswordExLogin" class="form-control" />

    <div class="text-center py-4 mt-3">
        <button class="btn btn-info" type="submit">Logged In</button>
    </div>
</form>