<form id="register-form" method="/register" action="post">
    <p class="h4 py-4">Register</p>
    <hr />
    <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Your username</label>
    <input name="username" type="text" id="defaultFormCardNameExRegister" class="form-control" />
    <br />
    <label for="defaultFormCardPasswordEx" class="grey-text font-weight-light">Your password</label>
    <input name="password" type="password" id="defaultFormCardPasswordEx" class="form-control" />
    <br />
    <label for="defaultFormCardRePasswordEx" class="grey-text font-weight-light">Your re-password</label>
    <input name="rePassword" type="password" id="defaultFormCardRePasswordExRegister" class="form-control" />
    <div class="text-center py-4 mt-3">
        <button class="btn btn-info" type="submit">Register</button>
    </div>
</form>