{{> navbar}}
<div id="notifications">
    {{#if message}}
    {{#if successful}}
    {{> success}}
    {{else}}
    {{> error}}
    {{/if}}
    {{else}}
    {{> loading}}
    {{/if}}
</div>
{{> footer}}