{{>navbar}}
<div style="margin: 0 auto; margin-bottom:7%; margin-top:7%;" class="modal-content col-lg-6">
    <div class="modal-header info-color white-text">
        <h4 class="title"><i class="fa fa-pencil-alt"></i> Look for a donation</h4>
    </div>
    <div class="modal-body">
        {{>createForm}}
    </div>
</div>
{{>footer}}